.badge {
    /*
    background-color: rgb(126, 255, 188);
    color: #000000;
    */
}

.red {
    color: red;
}

.scrollable {
}
.data-wrapper {
  overflow-y: scroll;
}

.container {

}

input[type=checkbox] {

}

.alert {
    display: none;
}

.private-pay {
  background: rgb(244, 244, 244);
}
