.badge {
  /*
  background-color: rgb(126, 255, 188);
  color: #000000;
  */
}

.red {
  color: red;
}

.data-wrapper {
  overflow-y: scroll;
}

.alert {
  display: none;
}

.private-pay td {
  background: rgb(244, 244, 244);
}
